body,html{
    height:100%;
    min-height: 100%;
}
/*row main wrapper*/
.row-main-wrapper{
    margin: 20px auto;
    border: 1px solid blue;
}
/*main-wrapper*/
.main-wrapper{
    border: 1px solid red;
}
.stats-wrapper{
    display: flex;
    justify-content: space-around;
}
/*menu*/
.menu-responsive{
    display: none;
}
.active {
    display: block;
}

.add-flashcard-wrapper{
    width: 30vw;
}

/*add flashacrd*/
.exist-form div {
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-gap: 10px;
    padding: 5px;
}
.exist-form label{
    justify-self: end;
}
.exist-form input, select{
    padding-left: 3px;
    border:0;
    background: transparent;
    border-bottom: 1px solid #000;
}
.exist-form option{
    background: #08979C;
    color: #fff;
}

.stats-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.stats-box p{
    text-transform: uppercase;
}
.stats-box label{
    font-size: 24px;
}
.good label { color: green;}
.notbad label { color: blue;}
.bad label { color: red;}
.stats-wrapper{
    display: flex;
    background: #fff;
    justify-content: space-between;
   padding: 10px;
}
.custom-filter{
    padding: 20px 0 ;
}

/*learning*/
.ant-btn-group{
    display: block!important;
}
.learning-card{
    text-align: center;
}

.correct-answer{
    font-size: 36px;
    font-weight: bold;
}
.ant-card-meta-detail{
    margin: 10px auto;
}

.stats-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.stats-group{
    display: flex;
    justify-content: center;
}
.stats-box{
    margin: 10px;
}
.total-nr-stats{
    font-size: 24px;
}