body,html{
    height:100%;
    min-height: 100%;
}
.ico-click{
    cursor: pointer;
}
/*main-wrapper*/
.main-wrapper{
    border: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}
.welcome-heading{
    font-size: 5vw;
    text-transform: uppercase;
    color: #fff;
}

/*menu*/

.profile-wrapper{
    display: flex;
    flex-flow: column nowrap;
    width: 30vw;
    padding: 30px;
}
.add-flashcard-wrapper{
    width: 30vw;
}

/*add flashacrd*/
.exist-form{
    
}
.exist-form div {
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-gap: 10px;
    padding: 5px;
}
.exist-form label{
    justify-self: end;
}
.exist-form input, select{
    padding-left: 3px;
    border:0;
    background: transparent;
    border-bottom: 1px solid #000;
}
.exist-form option{
    background: #08979C;
    color: #fff;
}

.stats-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.stats-box p{
    text-transform: uppercase;
}
.stats-box label{
    font-size: 24px;
}
.good label { color: green;}
.notbad label { color: blue;}
.bad label { color: red;}
.stats-wrapper{
    display: flex;
    background: #fff;
    justify-content: space-between;
   padding: 10px;
}
.custom-filter{
    padding: 20px 0 ;
}

.category-list .ant-row{
    display: flex!important;
    justify-content: space-around!important;
}


/*learning*/
.ant-btn-group{
    display: block!important;
}
.learning-card{
    text-align: center;
}

.correct-answer{
    font-size: 36px;
    font-weight: bold;
}
.ant-card-meta-detail{
    margin: 10px auto;
}